<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<div class="container">
    <h1><%= title %></h1>
    <blockquote>
        <ul class="list-unstyled">
            <li>You can pass a URL as a parameter and you will receive a shortened URL in the JSON response</li>
            <li>(https://brennan-link-shortener.herokuapp.com/new/example_url)</li>
            <br>
            <li>If you pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON
                response will contain an error instead.
            </li>
            <br>
            <li>When you visit that shortened URL, it will redirect you to the original link.</li>
            <li>(https://brennan-link-shortener.herokuapp.com/example_short_code)</li>
        </ul>
    </blockquote>
</div>
</body>
</html>
