body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

blockquote {
    border-left-color: cyan;
}

li {
    margin-top: .5em;
    margin-bottom: .5em;
}

a {
  color: #00B7FF;
}
